div.card
	h3-header Alle spellen
	div.row
		div.col.col-lg-6
			div.panel
				div.panel-head Spel naam
				div.panel-body spel afbeelding
				div.panel-footer actie knoppen
		div.col.col-lg-6
			div.panel
				div.panel-head Spel naam
				div.panel-body spel afbeelding
				div.panel-footer actie knoppen
		div.col.col-lg-6
			div.panel
				div.panel-head Spel naam
				div.panel-body spel afbeelding
				div.panel-footer actie knoppen
		div.col.col-lg-6
			div.panel
				div.panel-head Spel naam
				div.panel-body spel afbeelding
				div.panel-footer actie knoppen
		div.col.col-lg-6
			div.panel
				div.panel-head Spel naam
				div.panel-body spel afbeelding
				div.panel-footer actie knoppen
		div.col.col-lg-6
			div.panel
				div.panel-head Spel naam
				div.panel-body spel afbeelding
				div.panel-footer actie knoppen
		div.col.col-lg-6
			div.panel
				div.panel-head Spel naam
				div.panel-body spel afbeelding
				div.panel-footer actie knoppen
		div.col.col-lg-6
			div.panel
				div.panel-head Spel naam
				div.panel-body spel afbeelding
				div.panel-footer actie knoppen