div.card
	div.row
		h3.card-title.col.col-lg-6 Op het moment is er geen game gestart 
		small.col.col-lg-6.align-right (ik luister naar OSC)
	hr
	div.row
		div.col.col-lg-4 Vorig spel
		div.col.col-lg-4 
			h6 Acties
			button.button.primary-button spel starten
		div.col.col-lg-4 Volgend spel

div.card
	div.row
		h3.card-title.col.col-lg-6 Op het moment speelt 
			strong spel 1
		small.col.col-lg-6.align-right (ik luister naar OSC)
	hr
	div.row
		div.col
			div.progress-bar.striped
				span.progress-bar.green(style={width: '80%'})
