div(class="row")
	div(class="card col-lg-6 col-lg-offset-3")
		div(class="form-control")
			label Account:
			input(type="text" placeholder="Account..")

		div(class="form-control")
			label Password:
			input(type="password" placeholder="Password...")

		button(class="button-primary") Login