div(class="col col-4")
	div(class="card")
		script(type='text/javascript' src='/js/filter_users.js')
		h3(class="card-title") Gebruikers
		input(type="text" placeholder="Zoeken..." id="filter_input" onkeyup="filter()")
		table(id="users_table")
			thead
				tr
					th ID
					th Gebruikersnaam
					th Bijnaam
					th Email
					th Acties
			tbody
				each user, index in users
					tr
						td= user._id
						td= user.username
						td= user.nickname
						td= user.email
						td 
							button(class="button-warning button-small" href="/user_detail/"+user._id) details
							button(class="button-danger button-small" href="/") delete