doctype html
html
	head
		style
			include /css/mustard-ui.css
			include /css/style.css

	body
		include includes/nav
		main
			div(class="row")
				if screen == 'home'
					h1= 'Welkom ' + name
				else if screen == 'users'
					include includes/users
				else if screen == 'user'
					include includes/user
				else
					h1 Screen not found