- var user = { description: 'foo bar baz' }
- var authorised = false

doctype html
html
	head
		style
			include /css/mustard-ui.css
			include /css/style.css

	body
		include includes/nav
		main
			div(class="row")
				if screen == 'users'
					include includes/users
				else if screen == 'home'
					h1= 'Welkom ' + name